In [7]:
import pandas as pd

In [ ]:
Data Analysis
1. Description
2. Diagnosis
3. Prediction
4. Actions/Prescription

In [2]:
# The column names
cols = ['user_id','movie_id','rating','ts']

In [11]:
# Read the file
df=pd.read_csv('u.data', sep='\t', names=cols)

In [1]:
item_cols=['movie_id','title']+[str(i) for i in range(22)]

In [8]:
# Read the other file
df1=pd.read_csv('u.item',sep='|',names=item_cols, encoding ="ISO-8859-1")[['movie_id','title']]

KeyError: "['movie_id'] not in index"

In [66]:
df1.head()

,movie_idtitle,0,1,2,3,4,5,6,7,8,...,12,13,14,15,16,17,18,19,20,21
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [66]:
df1.head()

,movie_idtitle,0,1,2,3,4,5,6,7,8,...,12,13,14,15,16,17,18,19,20,21
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Exloratory Data Analysis

In [36]:
df1.shape

(1681, 24)

In [4]:
df.head()

NameError: name 'df' is not defined

In [17]:
df.sample(3)

       user_id  movie_id  rating         ts
80603      667       660       4  891035164
66060      575       963       1  878148199
87404      781       135       5  879634387

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [20]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

Try to find Different Data
1. Strings with Categorical Info
2. Strings with Random Stuff
3. Numbers with Quantified Info
4. Numbers with Categorical Info
5. Random Numbers or ID sort of data

In [22]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [25]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [23]:
df['rating'].nunique()

5

In [24]:
df['user_id'].nunique()

944

In [26]:
df['movie_id'].nunique()

1682

In [51]:
# Merging DataFrames

In [63]:
movie=pd.merge(df,df1,on='movie_id')
movie.head()

KeyError: 'movie_id'

In [ ]:
movie.head()